@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common

@if (Model != null && Model.Any())
{
    var i = 0;
    var tongtien = decimal.Zero;
    <div class="cart__table checkout__product--table">
        <h3>GIỎ HÀNG <span style="float:right;position:relative"><small>@Model.Count()</small></span></h3>
        <table class="cart__table--inner">
            <tbody class="cart__table--body">
                <!--Begin thông tin sp-->
                @foreach (var item in Model)
                {
                    tongtien += item.TotalPrice;
                    <tr class="cart__table--body__items">
                        <td class="cart__table--body__list">
                            <div class="product__image two  d-flex align-items-center">
                                <div class="product__thumbnail border-radius-5">
                                    <a href="/chi-tiet/@item.Alias-p@(item.ProductId)"><img class="border-radius-5" style="width:68px;height:74px" src="@item.ProductImg" alt="@item.ProductName"></a>
                                    <span class="product__thumbnail--quantity">@item.Quantity</span>
                                </div>
                                <div class="product__description">
                                    <h3 class="product__description--name h4"><a href="/chi-tiet/@item.Alias-p@(item.ProductId)">@item.ProductName</a></h3>
                                    @*<span class="product__description--variant">COLOR: Blue</span>*@
                                </div>
                            </div>
                        </td>
                        <td class="cart__table--body__list">
                            <span class="cart__price">@Common.FormatNumber(item.Price, 0)</span>
                        </td>
                    </tr>
                }
                <!--End thông tin sp-->
            </tbody>
        </table>
    </div>
    <div class="checkout__discount--code">
        <form class="d-flex" action="#">
            <label>
                <input class="checkout__discount--code__input--field border-radius-5" placeholder="Mã giảm phí vận chuyển" type="text">
            </label>
            <button class="checkout__discount--code__btn primary__btn border-radius-5" type="submit">Nhập</button>
        </form>
    </div>
    <div class="checkout__total">
        <table class="checkout__total--table">
            <tbody class="checkout__total--body">
                <tr class="checkout__total--items">
                    <td class="checkout__total--title text-left">Tất cả</td>
                    <td class="checkout__total--amount text-right">@Common.FormatNumber(tongtien, 0)</td>
                </tr>
                <tr class="checkout__total--items">
                    <td class="checkout__total--title text-left">Tiền ship</td>
                    <td class="checkout__total--calculated__text text-right">Giao 30k toàn quốc</td>
                </tr>
            </tbody>
            <tfoot class="checkout__total--footer">
                <tr class="checkout__total--footer__items">
                    <td class="checkout__total--footer__title checkout__total--footer__list text-left">Thành tiền</td>
                    <td class="checkout__total--footer__amount checkout__total--footer__list text-right">@Common.FormatNumber(tongtien + 30000, 0)</td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{

}