@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

<section class="banner__section section--padding">
    <div class="container-fluid">
        @if (Model != null && Model.Any())
        {
            <div class="row mb--n28">
                @foreach (var item in Model.Take(1))
                {
                    foreach (var i1 in Model.Where(a => a.Id >= 0).Take(1))
                    {
                        <div class="col-lg-5 col-md-order mb-28">
                            <div class="banner__items">
                                <a class="banner__items--thumbnail position__relative" href="@Url.Action("ProductCategory", "Products", new { alias = i1.Alias , id = i1.Id })">
                                    <img class="banner__items--thumbnail__img" src="@i1.Icon" alt="@i1.Title" style="width:580px; height:644px">
                                    <div class="banner__items--content">
                                        <span class="banner__items--content__subtitle">Giảm giá 17%</span>
                                        <h2 class="banner__items--content__title h3">
                                            @i1.Title
                                        </h2>
                                        <span class="banner__items--content__link">
                                            Xem trực tiếp
                                            <svg class="banner__items--content__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewBox="0 0 6.2 6.2">
                                                <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-lg-7 mb-28">
                            <div class="row row-cols-lg-2 row-cols-sm-2 row-cols-1">
                                @foreach (var i2 in Model.Where(a => a.Id > i1.Id).Take(2))
                                {
                                    <div class="col mb-28">
                                        <div class="banner__items">
                                            <a class="banner__items--thumbnail position__relative" href="@Url.Action("ProductCategory", "Products", new { alias = @i2.Alias , id = i2.Id })">
                                                <img class="banner__items--thumbnail__img" src="@i2.Icon" alt="@i2.Title" style="width:397px; height:315px">
                                                <div class="banner__items--content">
                                                    <span class="banner__items--content__subtitle text__secondary">@i2.Title</span>
                                                    <h2 class="banner__items--content__title h3">
                                                        Giảm giá 70% & <br>
                                                        Free Shipping
                                                    </h2>
                                                    <span class="banner__items--content__link">
                                                        Xem trực tiếp
                                                        <svg class="banner__items--content__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewBox="0 0 6.2 6.2">
                                                            <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                            @foreach (var i3 in Model.OrderByDescending(a=>a.Id).Take(1))
                            {
                                <div class="banner__items">
                                    <a class="banner__items--thumbnail position__relative" href="@Url.Action("ProductCategory", "Products", new { alias = @i3.Alias , id = i3.Id })">
                                        <img class="banner__items--thumbnail__img banner__img--max__height" src="@i3.Icon" alt="@i3.Title" style="width:824px; height:301px">
                                        <div class="banner__items--content">
                                            <span class="banner__items--content__subtitle">Giá giảm 25%</span>
                                            <h2 class="banner__items--content__title h3">
                                                @i3.Title
                                            </h2>
                                            <span class="banner__items--content__link">
                                                Xem trực tiếp
                                                <svg class="banner__items--content__arrow--icon" xmlns="http://www.w3.org/2000/svg" width="20.2" height="12.2" viewBox="0 0 6.2 6.2">
                                                    <path d="M7.1,4l-.546.546L8.716,6.713H4v.775H8.716L6.554,9.654,7.1,10.2,9.233,8.067,10.2,7.1Z" transform="translate(-4 -4)" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            }
                            </div>
                    }
                }
            </div>

        }
    </div>
</section>
